.body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px black;
    margin-bottom: 1px;
    background: white;
}
.logo{
    width: 100px;
    height: 100px;
}
.userProfile{
    width: 80px;
    height: 80px;
}
