/*class to set the image's height and width*/
.logo img{
    width: 70px;
    height: 70px;
}
/*class for navigation bar*/
.navbar {
    display: flex;
    padding: 15px;
    justify-content: space-around;
    box-shadow: 0 1px 1px 1px black;
}
/*class for div tag of logo and name*/
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo b{
    font-size: 35px;
    font-weight: 500;
}
/*class for category*/
.category{
    display: flex;
    align-items: center;
    gap: 100px;
    font-size: small;
    list-style: none;
    font-weight: 500;
}
.category li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
}
.category hr{
    border: none;
    height: 3px;
    width: 80%;
    border-radius: 10px;
    background-color: brown;
}
/*login and cart css*/
.Login_And_Cart{
    display: flex;
    align-items: center;
    gap: 40px;
}
.Login_And_Cart button{
    width: 150px;
    height: 48px;
    outline: none;
    border: 1px solid grey;
    border-radius: 75px;
    color: grey;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
    color: black;
}
.count{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: -50px;
    border-radius: 10px;
    font-size: 15px;
    background-color: lightcoral;
    color: white;
}
.category Link{
    text-decoration: none;
}